<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="../public/img/me.png">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    {{>header}}
    <p>About {{name}}</p>
    <img class="image" src="../public/img/i.jpg" alt='abhi'/>
    {{>footer}}
</body>
</html>